body{
	background-color: #e2e2e2;
	color: #3a4352;
	font-family: "Arial";
}



.cbox{
	background-color: #fff;
    border: 1px solid #ccc;
    max-width: 555px;
    margin: 10px;
    padding: 10px;
    left: 50%;
    width: auto;
    height: auto;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.cbox_header{
	
}

.cbox_profile_title{
    font-size: 16px;
    line-height: 1.4;
    font-weight: bold;
    color: #3B5998;
    word-wrap: break-word;
}


.cbox_timestamp{
    font-size: 12px;
    color: #6D6D6D;
    word-wrap: break-word;
}



.cbox_div_propic{
	border: 1px solid #BDC0C5;
	height: 40px;
	width: 40px;
    margin-right: 10px;
    float: left;
}



.cbox_content_txt {
    margin-bottom: 0;
    font-family: Nimbus Sans L;
    text-align: justify;
    color:#3e433e;
    padding: 0;
}

.cbox_seen_txt {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color:#3e433e;
    padding: 0;
}

.cbox_hr{
    color: #ff0000;
}


h3{
	top:0;
	left: 0;
    float: left;
	position: relative;
}





/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ LOGIN ~~~~~~~~~~~~~~~~~*/
.login_box {
    border: 4px solid #2d3e50;
    width: 400px;
    height: 440px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    margin: auto;
    padding: 10px;
    opacity: 1;
    transition:all linear 0.5s;
    

}

.head1{
    text-shadow: 0 0 5px #fff;
    transition:all linear 0.3s;
}

.head1:hover{
    text-shadow: 0 0 25px #fff;
}

.login_box:hover {
    border: 4px solid #f1c40f;
}


.login_box_outer {
    height: 380px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    margin: 10%;
    margin-top: 5%;
    padding: 10px;


}

.user_choose_button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width : 300px;
    font-size: 16px;
    z-index: 4;
    transition: all 0.2s;
}

.user_choose_button_guest {
    background-color: #34495e; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width : 300px;
    font-size: 16px;
    z-index: 4;
    transition: all 0.2s;
}

.user_choose_button_guest:hover {
    background-color: #53a7ea; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width : 90%;
    font-size: 16px;
    z-index: 4;
}

.user_choose_button:hover {
    background-color: #53a7ea; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width : 90%;
    font-size: 16px;
    z-index: 4;
    
}

.spacerx{
    height :8px;
}

.txtassist{
    color: #365899;
    font-family: arial;
    text-align: justify;
    line-height:16.08px;
    text-decoration: none;
    font-size: 12px;
    border: 0px solid red;
    outline-offset: 15px;
    transition: all 0.2s;
}
.txtassist:hover{
    color: red;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    /*border-bottom-width: 5px;*/
}



.anitxt1{
    color:#5F5F5F;
    transition: color 0.3s;
}

.anitxt1:hover{
    color:#f00;
}

.bg_blurredimg{
    background-color: #ddd;
    background-image: url("./img/gradient.jpg");
    background-size: cover;
    display: block;
    filter: blur(0px);
    -webkit-filter: blur(5px);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
    transform: scale(1.6);
    transition: all 0.5s;
}


.txt_field{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    transition:all linear 0.2s;

}

.txt_field:focus{
    border-color: #8f44ad;
    width: 90%;
}

.hrstyle {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hrstyle:after {
    content: " or else ";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.2em;
    padding: 0 0.25em;
    background: white;
}

.xfooter {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

/*-------------------------------------------------- DASHBOARD------------*/
/*~~~~RIGHTPANE~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.rightPane{
    float: left;
    background-color: #ff0000;
    height: 100%;
    width: calc(100% - 260px);

}

.divadjustment{
    
}

/*~~~~TOPPANE~~~~~~*/
.panelTop{
    float: left;
    margin: 0;
    background-color: #fff;
    height: 60px;
    width: 100%;
}

.topprofilecontent{
    float:right;
    height:100%;
    width:350px;
    background-color:#fff;
    transition:all linear 0.2s;
}

.topprofilecontent:hover{
    width:400px;
}

.topprofilepicture{
    background-image: url("./img/oggi.png");
    background-size: cover;
    background-color: pink;
    border: 1px solid #BDC0C5;
    height: 58px;
    width: 58px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
}

.topbox_profile_name{
    font-size: 18px;
    padding-top: 6px;
    line-height: 1.4;
    font-weight: bold;
    color: #3B5998;
    word-wrap: break-word;
    white-space: nowrap; 
    width: 12em; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.topbox_account_settings{
    background-image: url("./img/img_top_settings.png");
    background-size: initial;
    background-position: center;
    background-repeat:no-repeat;
    float: right;
    width: 58px;
    height: 100%;
    overflow: auto;
    transition:all linear 0.5s;
}

.topbox_account_settings:hover{
    transform: rotate(360deg);
}


.topbox_profile_role{
    font-size: 14px;
    color: #6D6D6D;
    word-wrap: break-word;
}
/*~~~~BOTPANE~~~~~~*/
.panelBottom{
    float: left;
    margin: 0;
    background-color: #EFF3F4;
    height: calc(100% - 60px);
    width: 100%;
    overflow: auto;
}



/*~~~~LEFTPANE~~~~~~~~~~~~~~~~~~~~~*/
.clearfix {
    margin: 0;
}

.ucsclogo{
    margin-top: 30px;
}

.hrsititle{
    color:#fff;
    font-size:24px;
    font-family:Arial;
    margin:0
}

.panelSide{
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2D3E50;
    height: 100%;
    width: 260px;
    min-width: 260px;
    max-width: 260px;
    overflow: auto;
    opacity: 0.9;
}

.navbar {
    list-style-type: none;
    margin-top: 40px;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;

}

.navbaritemimg{
    float: left;
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 15px;

}


.navbartxt{
    padding-top: 15px;
}

.navbaritem {
    display: block;
    background-color: #2D3E50;
    color: #ACB8B8;
    height: 60px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 10px;
    font-family: Arial;
    filter: grayscale(0);
    transition:all linear 0.2s;
}

.navbaritem.active {
    background-color: #4CAF50;
    color: white;
}

.navbaritem:hover:not(.active) {
    background-color: #34495E;
    filter: grayscale(1);
    color: white;
}

.navbaritem:click{
    background-color: #34495E;
    color: white;
}

.td{
    float: left;
    width:calc(100% - 300px);
    height: 100%;
}

/*~~~~~~~~~*/
