body{
    background-color: #e2e2e2;
    color: #3a4352;
    font-family: "Arial";
    margin: 0px;
}



.cbox{
    background-color: #fff;
    border: 1px solid #ccc;
    max-width: 555px;
    margin: 10px;
    padding: 10px;
    left: 50%;
    width: auto;
    height: auto;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.cbox_header{

}

.cbox_profile_title{
    font-size: 16px;
    line-height: 1.4;
    font-weight: bold;
    color: #3B5998;
    word-wrap: break-word;
}


.cbox_timestamp{
    font-size: 12px;
    color: #6D6D6D;
    word-wrap: break-word;
}



.cbox_div_propic{
    border: 1px solid #BDC0C5;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    float: left;
}



.cbox_content_txt {
    margin-bottom: 0;
    font-family: Nimbus Sans L;
    text-align: justify;
    color:#3e433e;
    padding: 0;
}

.cbox_seen_txt {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color:#3e433e;
    padding: 0;
}

.cbox_hr{
    color: #ff0000;
}


h3{
    top:0;
    left: 0;
    float: left;
    position: relative;
}





/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ LOGIN ~~~~~~~~~~~~~~~~~*/

.loginmaindiv{

}

.login_box {
    border: 2px solid #2d3e50;
    width: 360px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    left: calc(60%);
    top: 140px;
    z-index: 5;
    margin: auto;
    padding: 10px;
    opacity: 0.8;
    transition:all linear 0.4s;
}


.introbox{
    position: fixed;
    z-index: 5;
    top: 160px;
    width: auto;
    left: calc(55% - 600px);
}

.bottomline{
    position: fixed;
    width: 100%;
    z-index: 10;
    color: #000;
    top:550;
    width: auto;
    font-size: 10px;
    left: calc(52% - 180px);
    transition:all linear 0.3s;


}

.bottomline:hover{
    color: #fff
}

.login_box:hover{
    border: 2px solid #f1c40f;
}

.head1{
    font-size: 24px;
    text-shadow: 0 0 5px #fff;
    transition:all linear 0.3s;
}

.head1:hover{
    text-shadow: 0 0 25px #fff;
}

.logindesc{
    font-size: 14px;
    color: #000;
    max-width: 450px;
    transition:all linear 0.2s;
}


.logindesc:hover{
    color:#fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.login_box_outer {
    height: 380px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    margin: 10%;
    margin-top: 5%;
    padding: 10px;


}

.user_choose_button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 0px 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width : 300px;
    height: 35px;
    font-size: 12px;
    z-index: 4;
    transition: all 0.2s;
}

.user_choose_button:hover {
    background-color: #53a7ea; /* Green */
    border: none;
    color: white;
    display: inline-block;
    width : 90%;
    z-index: 4;

}

.spacerx{
    height :4px;
}

.txtassist{
    color: #365899;
    font-family: arial;
    text-align: justify;
    line-height:16.08px;
    text-decoration: none;
    font-size: 12px;
   /* border: 0 solid red;*/
    outline-offset: 15px;
    transition: all 0.2s;
}
.txtassist:hover{
    color:red;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    /*border-bottom-width: 5px;*/
}



.anitxt1{
    color:#5F5F5F;
    font-size:10.25px;
    color:#5F5F5F;
    transition: color 0.3s;
    max-width:  320px;
}

.anitxt1:hover{
    color:#f00;
}

.bg_blurredimg{
    background-color: #ddd;
    background-image: url("../img/gradient.jpg");
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    transform: scale(1.1);
    transition: all 0.5s;
}


.txt_field{
    width: 300px;
    height: 35px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    box-sizing: border-box;
    transition:all linear 0.2s;

}

.txt_field:focus{
    border-color: #8f44ad;
    width: 90%;
}

.hrstyle {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hrstyle:after {
    content: " or else ";
    font-size: 12px;
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 12px;
    padding: 0 0.25em;
    background: white;
}

.xfooter {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

/*-------------------------------------------------- DASHBOARD------------*/
/*~~~~RIGHTPANE~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.rightPane{
    float: left;
    background-color: #ff0000;
    height: 100%;
    width: calc(100% - 260px);

}

.divadjustment{

}

/*~~~~TOPPANE~~~~~~*/
.panelTop{
    float: left;
    margin: 0;
    background-color: #fff;
    height: 40px;
    width: calc(100% - 220px);
}

.topprofilecontent{
    float:right;
    height:100%;
    width:280px;
    background-color:#fff;
    transition:all ease 0.2s;
}

.topprofilecontent:hover{
    width:320px;
    background-color: #eee;
}

.topprofilepicture{
    background-image: url("../img/defimg.jpg");
    background-size: cover;
    background-color: pink;
    border: 0px solid #BDC0C5;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-left: 0px;
    float: left;
}

.topbox_profile_name{
    font-size: 14px;
    padding-top: 3px;
    line-height: 1.4;
    font-weight: bold;
    color: #3B5998;
    word-wrap: break-word;
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    margin-bottom: -3px;
    text-overflow: ellipsis;
}

.topbox_account_settings{
    background-image: url("../img/img_top_settings.png");
    background-size: initial;
    background-position: center;
    background-repeat:no-repeat;
    float: right;
    width: 24px;
    height: 24px;
    overflow: auto;
    margin: 10px;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
    display: inline-block;
    transition:all ease 0.5s;

}

.topbox_account_settings:hover{
    transform: rotate(120deg);
    transition-delay: 0s;
}

.top_dropdown:hover , .topbox_account_settings:hover ~.top_dropdown {
    display: block;
    transition-delay: 0s;
    visibility:visible;
    opacity: 1;
    top:40px;
}

.topbox_profile_role{
    font-size: 12px;
    color: #6D6D6D;
    word-wrap: break-word;
}

.top_dropdown{
    display: block;
    visibility:hidden;
    float: right;
    top:150px;
    left: calc(100% - 360px);
    position: absolute;
    background-color: #fff;
    min-width: 320px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.4);
    padding: 4px;
    opacity: 0;
    z-index: 9;
    transition:all ease 0.2s;
    transition-delay: 1s;
}
/*
.top_dropdown:hover{
    display: block;
    opacity: 1;
}*/

.top_dropdown_list {
    background-color: #fff;
    list-style-type: none;
    padding: 0px;
    width: 100%;

}

.top_dropdown_list_item {
    display: block;
    background-color: #fff;
    color: #2D3E50;
    height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    padding-top: 15px;
    padding-left: 20px;
    font-family: Arial;
    height: 18px;
    cursor: pointer;
    transition:all linear 0.2s;
}

.top_dropdown_list_item:hover{
    background-color: #EFF3F4;
}

/*~~~~BOTPANE~~~~~~*/
.bottomPanel{
    float: right;
    margin: 0px;
    width: 100%;
    background-color: #eff3f4;
    width: calc(100% - 220px);
    height: calc(100% - 40px);
    overflow: auto;
    z-index: 3;
}




/*~~~~LEFTPANE~~~~~~~~~~~~~~~~~~~~~*/
.clearfix {
    margin: 0;
    height: 100%;
}

.ucsclogo{
    margin-top: 30px;
    width: 100px;
    margin-bottom: 5px;
}

.hrsititle{
    color:#fff;
    font-size:18px;
    font-family:Arial;
    margin:0
}

.panelSide{
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2D3E50;
    height: 100%;
    width: 220px;
    overflow: auto;
    opacity: 0.9;
}

.navbar {
    list-style-type: none;
    margin-top: 40px;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;

}

.navbaritemimg{
    float: left;
    margin-top: 6px;
    margin-left: 24px;
    margin-right: 15px;
    width: 24px;
    height: 24px;

}


.navbartxt{
    text-indent: 0px;
    padding-top: 10px;
    transition:all linear 0.2s;

}

.navbaritem:hover{
    padding-left: 5px;

}



.navbaritem {
    font-size: 14px;
    display: block;
    background-color: #2D3E50;
    color: #ACB8B8;
    height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 8px;
    font-family: Arial;
    cursor: pointer;
    transition:all linear 0.2s;
}

.navbaritem.active {
    background-color: #4CAF50;
    color: white;
}

.navbaritem:hover:not(.active) {
    background-color: #34495E;
    color: white;
    color: gold;
}

.td{
    float: left;
    width:calc(100% - 300px);
    height: 100%;
}

/*~~~~~~~~~*/

/* ------- loading gif ---------*/
#overlay{
    position: fixed;
    z-index: 9999;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:50% 50% no-repeat rgb(255,255,255);
    background-image: url("../img/loading.gif");
}



/*~~~~~~~~~ DASHBOARD~~~~~~~~~~~~~~~~~~~~~*/

/*----dashboard_top.php----*/
.txt_paneltitle{
    font-family:'Catamaran', sans-serif;
    font-size:32px;
    color: #3F4E5E;
    text-transform: uppercase;
    margin: 20px 35px;
    margin-left: 42px;
    margin-top:10px;
    height:160px;
    text-indent: 0px;
    transition: all 0.2s linear;


}

.txt_paneltitle:hover{
    text-indent: 20px;
}

.dashboard_bottom{
    float:left;
    height:calc(100% - 120px - 15px);
    width: calc(100% - 70px);
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;

}

.dashboard_leftbox{
    float:left;
    width:35%;
    height: 100%;

/*    background-color: green;*/

}

.dashboard_rightbox{
    float:right;
    width:65%;
    height: 100%;
/*    background-color: aqua;*/
}


.mainsearch{
    float: right;
    width: 250px;
    height: 30px;
    margin: 20px;
    margin-top: 22px;
    box-sizing: border-box;
    background-image: url('../img/ico_search.png');
    font-size: 12px;
    background-position: 10px 5px; 
    background-repeat: no-repeat;
    border: 2px solid #ccc;
    border-radius: 16px;
    padding:  02px 0px 0px 35px;
    margin-right: 20px;
    outline: none;
    transition: all 0.4s ease-in-out;

}

.mainsearch:hover{
    border-color: #f1c40f;
}

.mainsearch:focus{
    width: 350px;
}






.dbox{
    background-color: #fff;
    border: 1px solid #ccc;
    
    width: auto;
    margin: 10px;
    margin-right: 0px;
    padding: 10px;
    height: 200px;
    border-radius: 10px;
    transition: all 0.2s linear;

}

.dbox:hover{
    border-color: #f1c40f;
}

.dboxheader{
    
    background-image: url('../img/ico_availability.png');
    background-position: 4px 4px; 
    background-repeat: no-repeat;
    height:160px;
    text-indent: 0px;
    transition: all 0.2s ease-in-out;
}


.dboxtitle{
    font-family:'Catamaran', sans-serif;
    font-weight: normal;
    font-size:18px;
    color: #3F4E5E;
    margin-left: 32px;
}


/*-------AVAILABILITY STATUS----*/

.cur_availability_icon{
    position: static;
    margin-top:8px;
    margin-left: px;
    height: 12px;
    width: 12px;
    border: 1px solid #3F4E5E;
    background-color: #42b72a;
    border-radius: 10px;
}

.saved_availability_icon{
    position: static;
    margin-top:8px;
    margin-left: 14px;
    height: 12px;
    width: 12px;
    border: 1px solid #3F4E5E;
    background-color: #42b72a;
    border-radius: 10px;
}

.availability_button {
    float: left;
    padding: 12px;
    background-color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.availability_dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.availability_dropdown_item{
    height: 30px;
    width: 250px;
    clear: left;
    width:100%;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}
.availability_dropdown_item:hover{
    background-color: aliceblue;
}


.availability_dropdown a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.availability_dropdown_item_text{
    float: left;
}

.availability_dropdown_item_text_template{
    width:60%;
    float:left;
    height:auto;
    margin:6px;
    transition: all 0.1s linear;
}
.availability_dropdown_item_text_template:hover{
    margin-left: 10px;
    color: #ff0000;
}

.availability_dropdown:hover .availability_dropdown_content{
    display: block;
}

.availability_dropdown_content {
    display: none;
    top:40px;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    height: auto;
    padding-top: 10px;
    padding-bottom:  10px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width:200px;
    left:0px;
    z-index: 999999;
}

.availability_dropdown:hover .availability_button{
    background-color: #eff3f4;
}


.customstatus{
    font-size: 18px;
    width: calc(100% - 180px);
    margin-top: 8px;
    margin-right:2px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #F1F1F1;
    transition: all 0.2s linear;

    outline: none;
}

.customstatus:focus{
    border-bottom: 2px solid #3f4e5e;
}


.availability_status_button{
    
    width: 60px;
    height: 26px;

}

.saved_status_messages{
    width: 100%;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    height:120px;
    border:solid grey 0px;
    overflow-y: auto;
}

.dashboard_newsfeed{
    height: 100%;
    margin-left: 40px;
}


















/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~DEFAULTS~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.default_button {
    background-color:#3f4e5e;
    border-radius:3px;
    border:1px solid #54677b;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
    text-transform: uppercase;
}
.default_button:hover {
    background-color:#54677b;
}
.default_button:active {
    position:relative;
    top:1px;
}


