body{
    background-color: #e2e2e2;
    color: #3a4352;
    font-family: "Arial";
    margin: 0px;
}



.cbox{
    background-color: #fff;
    border: 1px solid #ccc;
    max-width: 555px;
    margin: 10px;
    padding: 10px;
    left: 50%;
    width: auto;
    height: auto;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.cbox_header{

}

.cbox_profile_title{
    font-size: 16px;
    line-height: 1.4;
    font-weight: bold;
    color: #3B5998;
    word-wrap: break-word;
}


.cbox_timestamp{
    font-size: 12px;
    color: #6D6D6D;
    word-wrap: break-word;
}



.cbox_div_propic{
    border: 1px solid #BDC0C5;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    float: left;
}



.cbox_content_txt {
    margin-bottom: 0;
    font-family: Nimbus Sans L;
    text-align: justify;
    color:#3e433e;
    padding: 0;
}

.cbox_seen_txt {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0;
    color:#3e433e;
    padding: 0;
}

.cbox_hr{
    color: #ff0000;
}


h3{
    top:0;
    left: 0;
    float: left;
    position: relative;
}





/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ LOGIN ~~~~~~~~~~~~~~~~~*/

.loginmaindiv{

}

.login_box {
    border: 2px solid #2d3e50;
    width: 360px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    left: calc(60%);
    top: 140px;
    z-index: 5;
    margin: auto;
    padding: 10px;
    opacity: 0.8;
    transition:all linear 0.4s;
}


.introbox{
    position: fixed;
    z-index: 5;
    top: 160px;
    width: auto;
    left: calc(55% - 600px);
}

.bottomline{
    position: fixed;
    width: 100%;
    z-index: 10;
    color: #000;
    top:550;
    width: auto;
    font-size: 10px;
    left: calc(52% - 180px);
    transition:all linear 0.3s;


}

.bottomline:hover{
    color: #fff
}

.login_box:hover{
    border: 2px solid #f1c40f;
}

.head1{
    font-size: 24px;
    text-shadow: 0 0 5px #fff;
    transition:all linear 0.3s;
}

.head1:hover{
    text-shadow: 0 0 25px #fff;
}

.logindesc{
    font-size: 14px;
    color: #000;
    max-width: 450px;
    transition:all linear 0.2s;
}


.logindesc:hover{
    color:#fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.login_box_outer {
    height: 380px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    margin: 10%;
    margin-top: 5%;
    padding: 10px;


}

.user_choose_button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 0px 32px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width : 300px;
    height: 35px;
    font-size: 12px;
    z-index: 4;
    transition: all 0.2s;
}

.user_choose_button:hover {
    background-color: #53a7ea; /* Green */
    border: none;
    color: white;
    display: inline-block;
    width : 90%;
    z-index: 4;

}

.spacerx{
    height :4px;
}

.txtassist{
    color: #365899;
    font-family: arial;
    text-align: justify;
    line-height:16.08px;
    text-decoration: none;
    font-size: 12px;
   /* border: 0 solid red;*/
    outline-offset: 15px;
    transition: all 0.2s;
}
.txtassist:hover{
    color:red;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    /*border-bottom-width: 5px;*/
}



.anitxt1{
    color:#5F5F5F;
    font-size:10.25px;
    color:#5F5F5F;
    transition: color 0.3s;
    max-width:  320px;
}

.anitxt1:hover{
    color:#f00;
}

.bg_blurredimg{
    background-color: #ddd;
    background-image: url("../img/gradient.jpg");
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    transform: scale(1.1);
    transition: all 0.5s;
}


.txt_field{
    width: 300px;
    height: 35px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    box-sizing: border-box;
    transition:all linear 0.2s;

}

.txt_field:focus{
    border-color: #8f44ad;
    width: 90%;
}

.hrstyle {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.hrstyle:after {
    content: " or else ";
    font-size: 12px;
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 12px;
    padding: 0 0.25em;
    background: white;
}

.xfooter {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

/*-------------------------------------------------- DASHBOARD------------*/
/*~~~~RIGHTPANE~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.rightPane{
    float: left;
    background-color: #ff0000;
    height: 100%;
    width: calc(100% - 260px);

}

.divadjustment{

}

/*~~~~TOPPANE~~~~~~*/
.panelTop{
    float: right;
    margin: 0;
    background-color: #fff;
    height: 40px;
    width: calc(100%);
}

.topprofilecontent{
    float:right;
    height:100%;
    width:280px;
    background-color:#fff;
    transition:all ease 0.2s;
}

.topprofilecontent:hover{
    width:320px;
    background-color: #eee;
}

.topprofilepicture{
    background-image: url("../img/defimg.jpg");
    background-size: cover;
    border: 0px solid #BDC0C5;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-left: 0px;
    float: left;
}

.topbox_profile_name{
    font-size: 14px;
    padding-top: 3px;
    line-height: 1.4;
    font-weight: bold;
    color: #3B5998;
    word-wrap: break-word;
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    margin-bottom: -3px;
    text-overflow: ellipsis;
}

.topbox_account_settings{
    background-image: url("../img/img_top_settings.png");
    background-size: initial;
    background-position: center;
    background-repeat:no-repeat;
    float: right;
    width: 24px;
    height: 24px;
    overflow: auto;
    margin: 10px;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
    display: inline-block;
    transition:all ease 0.5s;

}

.topbox_account_settings:hover{
    transform: rotate(120deg);
    transition-delay: 0s;
}

.top_dropdown:hover , .topbox_account_settings:hover ~.top_dropdown {
    display: block;
    transition-delay: 0s;
    visibility:visible;
    opacity: 1;
    top:40px;
}

.topbox_profile_role{
    font-size: 12px;
    color: #6D6D6D;
    word-wrap: break-word;
}

.top_dropdown{
    display: block;
    visibility:hidden;
    float: right;
    top:150px;
    left: calc(100% - 330px);
    position: absolute;
    background-color: #fff;
    min-width: 320px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.4);
    padding: 4px;
    opacity: 0;
    z-index: 9;
    transition:all ease 0.2s;
    transition-delay: 1s;
}
/*
.top_dropdown:hover{
    display: block;
    opacity: 1;
}*/

.top_dropdown_list {
    background-color: #fff;
    list-style-type: none;
    padding: 0px;
    width: 100%;

}

.top_dropdown_list_item {
    display: block;
    background-color: #fff;
    color: #2D3E50;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    padding-top: 6px;
    padding-left: 20px;
    font-family: Arial;
    font-size: 14px;
    height: 16px;
    cursor: pointer;
    transition:all linear 0.2s;
}

.top_dropdown_list_item:hover{
    background-color: #EFF3F4;
}

/*~~~~BOTPANE~~~~~~*/
.bottomPanel{
    float: right;
    margin: 0px;
    width: 100%;
    background-color: #eff3f4;
    width: calc(100% - 220px);
    height: calc(100% - 40px);
    overflow: auto;
    z-index: 3;
}




/*~~~~LEFTPANE~~~~~~~~~~~~~~~~~~~~~*/
.clearfix {
    margin: 0;
    height: 100%;
}

.ucsclogo{
    margin-top: 30px;
    width: 100px;
    margin-bottom: 5px;
}

.hrsititle{
    color:#fff;
    font-size:18px;
    font-family:Arial;
    margin:0
}

.panelSide{
    float: left;
    list-style-type: none;
    background-color: #2D3E50;
    height: 100%;
    width: 220px;
    overflow: auto;
    position: fixed;
}

.navbar {
    list-style-type: none;
    margin-top: 40px;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;

}

.navbaritemimg{
    float: left;
    margin-top: 6px;
    margin-left: 24px;
    margin-right: 15px;
    width: 24px;
    height: 24px;

}


.active_navbar_item{
    color: gold !important;
    font-weight: bold !important;
    background-color: #4285f4 !important;
}


.navbartxt{
    text-indent: 0px;
    padding-top: 10px;
    transition:all linear 0.2s;

}

.navbaritem:hover{
    padding-left: 5px;

}

.nounderline{
    text-decoration: none;
}

.navbaritem {
    font-size: 14px;
    display: block;
    background-color: #2D3E50;
    color: #ACB8B8;
    height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 8px;
    font-family: Arial;
    cursor: pointer;
    transition:all linear 0.2s;
}

.navbaritem.active {
    background-color: #4CAF50;
    color: white;
}

.navbaritem:hover:not(.active) {
    background-color: #34495E;
    color: white;
    color: gold;
}

.td{
    float: left;
    width:calc(100% - 300px);
    height: 100%;
}

/*~~~~~~~~~*/

/* ------- loading gif ---------*/
#overlay{
    position: fixed;
    z-index: 9999;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background:50% 50% no-repeat rgb(255,255,255);
    background-image: url("../img/loading.gif");
}



/*~~~~~~~~~ DASHBOARD~~~~~~~~~~~~~~~~~~~~~*/

/*----dashboard_top.php----*/
.txt_paneltitle{
    font-family:'Catamaran', sans-serif;
    font-size:32px;
    color: #3F4E5E;
    text-transform: uppercase;
    margin-left: 42px;
    margin-top:10px;
    text-indent: 0px;
    transition: all 0.2s linear;


}

.txt_paneltitle:hover{
    text-indent: 20px;
}

.dashboard_bottom{
    float:left;
    height:calc(100% - 120px - 15px);
    width: calc(100% - 70px);
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;

}

.dashboard_leftbox{
    float:left;
    width:35%;
    height: 100%;

/*    background-color: green;*/

}

.dashboard_rightbox{
    float:right;
    width:65%;
    height: 100%;
/*    background-color: aqua;*/
}


.mainsearch{
    float: right;
    width: 250px;
    height: 30px;
    margin: 20px;
    margin-top: 22px;
    box-sizing: border-box;
    background-image: url('../img/ico_search.png');
    font-size: 12px;
    background-position: 10px 5px; 
    background-repeat: no-repeat;
    border: 2px solid #ccc;
    border-radius: 16px;
    padding:  02px 0px 0px 35px;
    margin-right: 20px;
    outline: none;
    transition: all 0.4s ease-in-out;

}

.mainsearch:hover{
    border-color: #f1c40f;
}

.mainsearch:focus{
    width: 350px;
}






.dbox{
    background-color: #fff;
    border: 1px solid #ccc;
    width: auto;
    margin: 10px;
    margin-right: 0px;
    padding: 10px;
    border-radius: 10px;

    padding-bottom: 20px;
    transition: all 0.2s linear;

}

.dbox:hover{
    border-color: #f1c40f;
}

.dboxheader{
    
    text-indent: 0px;
    transition: all 0.2s ease-in-out;
}

.dbox_head_availabilitystatus{
    background-image: url('../img/ico_availability.png');
    background-position: 4px 1px; 
    background-repeat: no-repeat;
}


.dboxtitle{
    font-family:'Catamaran', sans-serif;
    font-weight: normal;
    font-size:18px;
    color: #3F4E5E;
    margin-left: 32px;
}


/*-------AVAILABILITY STATUS----*/

.cur_availability_icon{
    position: static;
    margin-top:0px;
    margin-left: px;
    height: 12px;
    width: 12px;
    border: 1px solid #3F4E5E;
    background-color: #42b72a;
    border-radius: 10px;
}

.saved_availability_icon{
    position: static;
    margin-top:8px;
    margin-left: 14px;
    height: 12px;
    width: 12px;
    border: 1px solid #3F4E5E;
    background-color: #42b72a;
    border-radius: 10px;
}

.availability_button {
    float: left;
    padding: 12px;
    background-color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.availability_dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.availability_dropdown_item{
    height: 30px;
    width: 250px;
    clear: left;
    width:100%;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}
.availability_dropdown_item:hover{
    background-color: aliceblue;
}


.availability_dropdown a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.availability_dropdown_item_text{
    float: left;
}

.availability_dropdown_item_text_template{
    width:60%;
    float:left;
    height:auto;
    margin:6px;
    transition: all 0.1s linear;
}
.availability_dropdown_item_text_template:hover{
    margin-left: 10px;
    color: #ff0000;
}

.availability_dropdown:hover .availability_dropdown_content{
    display: block;
}

.availability_dropdown_content {
    display: none;
    top:40px;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    height: auto;
    padding-top: 10px;
    padding-bottom:  10px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width:200px;
    left:0px;
    z-index: 999999;
}

.availability_dropdown:hover .availability_button{
    background-color: #eff3f4;
}


.customstatus{
    font-size: 18px;
    width: calc(100% - 180px);
    margin-top: 8px;
    margin-right:2px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #F1F1F1;
    transition: all 0.2s linear;

    outline: none;
}

.customstatus:focus{
    border-bottom: 2px solid #3f4e5e;
}

.availability_status_box{
    height: 120px;
}

.availability_status_button{
    
    width: 120px;
    height: 32px;

}

.saved_status_messages{
    width: 100%;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
    height:120px;
    border:solid grey 0px;
    overflow-y: auto;
}




/*----------NEWS FEED-------------*/
.dashboard_newsfeed{
    height: 100%;
    margin-left: 40px;
}

.dbox_head_newsfeed{
    background-image: url('../img/ico_newsfeed.png');
    background-position: 6px 2px; 
    background-repeat: no-repeat;
    height: 100%;
}

.newsfeed_content{
    margin-top: 10px;
    height: calc(100% - 30px);
    width: 100%;
    background-color: white;
    overflow: auto;
}


.newsfeed_item_box{
    float: left;
    width: calc(100% - 30px);
    background-color: white;
    max-height: 50px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 15px;
    border:0px solid green;
    transition: all 0.2s linear;
}

.newsfeed_item_box:hover{
    max-height: 90px; 
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 2px;
    border-radius: 5px;
    background-color: #f6f7f9;
}



.newsfeed_item_colorbar{
    float: left;
    width: 12px;
    height: 100px;
    background-color: #4080ff;
}


.newsfeed_item_content{
    font-size: 12px;
    width: calc(100% - 50px);
    margin: 0px;
    padding: 5px;
    padding-left: 20px;
}

.newsfeed_item_timestamp{
    color: #adb2bb;
    float: right;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: italic;
    margin-right: 15px;
}




/*-------------------------------*/
/*-------------------------------*/
/*---------PROFILE     ----------*/
/*-------------------------------*/
/*-------------------------------*/
/*-------------------------------*/



.profile_section_intro{
    padding-top:25px;
    width: 50%;
    height: 170px;

}

.profile_profile_image{
    margin-left: 120px;
    background-color: grey;
    width: 140px;
    height: 140px;
    border: 4px solid #fff;
    border-radius: 4px;
    background-image: url("../img/oggi.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px 5px #42b72a;
    transition: all 0.2s linear;
}

.profile_profile_image:hover{
    box-shadow: 0px 0px 15px 10px #42b72a;
}

.profile_name{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 34px;
    position: relative;
    left: 300px;
    top: -140px;
    transition: all 0.2s linear;
}


.profile_online_status_box{
    width: 300px;
    height: 20px;
    position: relative;
    left: 300px;
    top:-140px;
}

.profile_availability_icon{
    margin-top: 2px;
    padding-top: 4px;
    height: 10px;
    width: 12px;
    border: 2px solid #3F4E5E;
    background-color: #42b72a;
    border-radius: 8px;
    
}

.profile_availability_text{
    font-size:18px;
    margin-top: -19px;
    margin-left: 25px;
}

.profile_last_seen_box{
    width: 300px;
    height: 20px;
    position: relative;
    left: 300px;
    top:-140px;
}

.profile_last_seen_text{
    background-image: url("../img/ico_lastseen.png");
    filter: grayscale(100%);
    background-position: 1px 1px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    font-size:14px;
    margin-top: 0px;
    padding-left: 25px;
    padding-top: 1px;
    color:#393939;
}


.profile_basic_summery{
    font-size:14px;
    position: relative;
    left: 300px;
    top: -132px
}

.profile_section_main{
    padding-top : 20px !important;
    height: calc(100% - 210px);
    width: 100%;
    clear: left;
}

.profile_section_contactinfo{
    margin-left: 80px;
    width: 500px !important;
    padding-bottom: 25px;
    margin-top: 20px;
}

.dbox_head_profilecontactinfo{
    background-image: url('../img/ico_contctinfo.png');
    background-position: 4px 2px; 
    background-repeat: no-repeat;
    z-index: 999;
}

.nofloat{
    float: none !important;
}


.contact_info_item{
    width: 400px;
    height: 20px;
}

.contact_info_item_field{
    position: relative;
    left: 5px;
    top: 0px;
}

.contact_info_item_value{
    position: relative;
    left: 100px;
    top: -20px;
}

.botmarg{
    margin-bottom: 8px !important;
}


.profile_section_socities{
    margin-left: 80px;
    width: 500px !important;
    margin-top: 20px;
}

.dbox_head_profile_socities{
    background-image: url('../img/ico_socities.png');
    background-position: 4px 2px; 
    background-repeat: no-repeat;
    z-index: 999;
}

.society_item_club{
    position: relative;
    left: 5px;
    top: 0px;
}

.society_item_role{
    position: relative;
    left: 280px;
    top: -20px;
}

.society_item{
    width: auto;
    cursor:pointer !important;
    max-height: 20px;
    background-image: url('../img/ico_verified.png');
    background-position: 470px 1px; 
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */   
    transition: all 0.2s linear;
}

.society_item:active{
    height: auto !important;
    padding-top: 10px;
    background-position: 470px 10px; 
    padding-bottom: 8px;
    max-height: 200px;
    background-color: #e9ebee;
    border: 1px solid #365899;
}

.society_item_extra{
    color: #90949c;
    font-size: 14px;
    padding: 5px;
    margin-top:-20px;
}

.profile_section_main_left{
    float: left;
    width: 650px
}

.profile_section_main_right{
    float: left;
    width: calc(100% - 650px)
}

.profile_section_aboutme{
    margin-left: -25px;
    text-align: justify;
    padding: 15px;
    width: 500px !important;
    margin-top: 20px;
    height: auto !important;
    max-height: 160px;
    width: 100px;
    transition: all 0.5s linear;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile_section_aboutme:hover{
    max-height: 800px;
}

.dbox_head_profile_aboutme{
    background-image: url('../img/ico_aboutme.png');
    background-position: 4px 2px; 
    background-repeat: no-repeat;
}
 
.profile_section_interests{
    margin-left: -25px;
    text-align: justify;
    padding: 15px;
    width: 500px !important;
    margin-top: 20px;
    overflow: hidden;
}


.dbox_head_profile_interetst{
    background-image: url('../img/ico_skills.png');
    background-position: 2px 0px; 
    background-repeat: no-repeat;
}

.skill_item{
    float: left;
    background: #e9ebee;
    border: 1px solid #9cb4d8;
    border-radius: 2px;
    color: #162643;
    cursor: default;
    display: block;
    float: left;
    height: 14px;
    margin: 1px 4px 4px 1px;
    padding: 3px 6px;
    position: relative;
    white-space: nowrap;
    font-size:14px;
    font-family: monospace;
    height:14px;
    line-height:16px;
    transition: all 0.1s linear;
}

.skill_item:hover{
    background: #c8d0dc;
}

.profile_section_personal{
    margin-left: -25px;
    text-align: justify;
    padding: 15px;
    width: 500px !important;
    margin-top: 20px;
    overflow: hidden;
}

.dbox_head_profile_personal{
    background-image: url('../img/1472384996_5322_-_Sharethis.png');
    background-position: 2px 0px; 
    background-repeat: no-repeat;
}

.dbox_head_profile_languages{
    background-image: url('../img/1472387597_internt_web_technology-16.png');
    background-position: 6px 3px; 
    background-repeat: no-repeat;
}

.profile_section_languages{
    margin-left: 80px;
    text-align: justify;
    padding: 15px;
    width: 500px !important;
    margin-top: 20px;
    overflow: hidden;
}

.language_item{
    background: #efd !important;
    border-color: #9c9;
}

.language_item:hover{
    background: #afa !important;
}

/*1472387597_internt_web_technology-16*/


/*********************** *******/
/******advanced search  ********/
/*******************************/
.advacnedsearch_section_basic{
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 500px !important;
    padding-bottom: 25px;
    margin: 30px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
}


.dbox_head_advancedsearch_basic{
    background-image: url('../img/ico_contctinfo.png');
    background-position: 4px 6px; 
    background-repeat: no-repeat;
}

.advancedsearch_textbox{
    margin-left: 10px;
    margin-block-end: 5px;
    width: 380px;
}

.advancedsearch_hr{
    display: block;
    height: 0px;
    border: 0;
    border-top: 1px solid #eee;
    margin: 10px 0px;
    clear: left;
    clear: right;
}

.advancedsearch_hr_interests_selectionbox{
    width: auto;
}


.advancedsearch_interestpick_area{
    background-color: #fff;
    width: 100%;
    height: 100px;
    border: 1px solid #e3e3e3;
}


.group_searchbar{
    width: 100%;
}

.advancedsearch_socity_representive_dropdown{
    float: right;
    clear: right;
    width: 70%;
}

.testred{
    background-color: red;
}

.advancedsearch_textalign{

}

/**********************************/
/*******************************/
/********EDIT PROFILE*********/
.edit_profile_button{
    background-clip:padding-box;
    background-color:rgb(246, 247, 249);
    border-bottom-color:rgba(0, 0, 0, 0.4);
    border-bottom-left-radius:2px;
    border-bottom-right-radius:2px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-image-outset:0px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-source:none;
    border-image-width:1;
    border-left-color:rgba(0, 0, 0, 0.4);
    border-left-style:solid;
    border-left-width:1px;
    border-right-color:rgba(0, 0, 0, 0.4);
    border-right-style:solid;
    border-right-width:1px;
    border-top-color:rgba(0, 0, 0, 0.4);
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    border-top-style:solid;
    border-top-width:1px;
    box-sizing:content-box;
    color:rgb(75, 79, 86);
    cursor:pointer;
    direction:ltr;
    display:inline-block;
    font-family:helvetica, arial, sans-serif;
    font-size:12px;
    font-weight:bold;
    height:26px;
    line-height:26px;
    margin-left:12px;
    padding-bottom:0px;
    padding-left:10px;
    padding-right:10px;
    padding-top:0px;
    position:relative;
    text-align:center;
    text-decoration:none;
    text-shadow:none;
    vertical-align:middle;
    white-space:nowrap;
    width:66px;
    word-wrap:break-word;
    zoom:1;
    -webkit-font-smoothing:antialiased;
}

.edit_profile_button:hover{
    background-color: #dddfe2;
}


.edit_profile_intro_section{

    height: 240px !important;
}


.edit_profile_profile_image{
    width: 240px !important;
    height: 240px !important;
}

.new_propic:hover{
    opacity: 1;
}

.edit_profile_profile_name{
    left: 400px !important;
    top: -240px !important;
}

.edit_profile_name_textbox{
    width: 20%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: all 0.2s linear;
    
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.edit_profile_name_textbox:focus{
    width: calc(20% + 150px);
}

.edit_profile_profile_basic_summery{
    left: 400px !important;
    top: -220px !important;
}

.edit_profile_academic_year{
    width: 30% !important;
}

.edit_profile_about_me{
    width: 100%;
    height: 160px;
    background-color: #fff;
    border: 1px solid #dfe0e4;
}

.new_propic{
    font-size: 28px;
    text-transform: uppercase;
    color: #fff;
    padding-top: 170px;
    padding-left: 15px;
    background-image: url('../img/img_upload_photo.png');
    background-position: 55px 30px; 
    background-repeat: no-repeat;
    
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
    
    width: calc(100% - 15px);
    height: calc(100% - 170px);
    opacity: 0;
    transition: all 0.2s linear;
    align-content:center;
}


.edit_profile_contactinfo_item_field{
    margin-left: 10px;
    float: left;
}

.edit_profile_contactinfo_item_value{
    float: right;
}

.edit_profile_contactinfo_item_remove{
    width: 16px;
    height: 100%;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    background-image: url('../img/1472404941_cross.png');
    background-position: 0px 2px; 
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.2s linear;
}

.edit_profile_contactinfo_item_remove:hover{
    transform: rotate(90deg);
}
.edit_profile_contactinfo_item{
    margin-right: 35px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}


.edit_profile_contactinfo_item_fields{
    width: 100%;
    height: 45px;
}


.edit_profile_contactinfo_item_value_field{
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;

}

.edit_profile_contactinfo_add_button{
    height: 40px;
    width: 180px;
}

.dbox_head_edit_profile_new_field{
    background-image: url('../img/1472342090_add_green.png');
    background-position: 4px 2px; 
    background-repeat: no-repeat;
    z-index: 999;
}

.edit_profile_floting_save_button{
    height: 50px;
    width: 180px;
    z-index: 9999;
    position: fixed;
    bottom: 20px;
    right: 5%;
}

.edit_profile_save_all_button{
    height: 100%;
    width: 100%;
    background-color: #4267b2 !important;
    font-size: 14px !important;
    font-weight: bold;
    color: white !important;;
}

.edit_profile_contactinfo_item_remove_skill{
    width: 16px;
    height: 100%;
    float: right;
    margin-right: 2px;
    margin-left: 10px;
    cursor: pointer;
    background-image: url('../img/1472404941_cross.png');
    background-position: 0px -1px; 
    background-repeat: no-repeat;
    transition: all 0.2s linear;
}

.edit_profile_contactinfo_item_remove_skill:hover{
    transform: rotate(90deg);
}

.edit_profile_section_aboutme{
    margin-left: -25px;
    text-align: justify;
    padding: 15px;
    width: 500px !important;
    margin-top: 20px;
    height: auto !important;
    max-height: 200px;
    width: 100px;
    transition: all 0.5s linear;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*******************************/
/*********GROUPS     ************/
/********************************/


.groups_content_area{
    height: auto !important;
}





/***************************/
/*********************************/
/********MSGBOX**********/
/*********************************/
/*********************************/

.msgbox_background{
    position: fixed;
    height: 300px;
    width: 600px;
    left: calc(50% - 300px);
    top: 25%;
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(84,81,87,0.6);
    border: 2px solid #555356;
    border-radius: 2px;
    z-index: 999999;
}

.msgbox_section_title{
    width: : 100%;
    height: 50px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f6f7f9;
}

.msgbox_dimmer{
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 999;
    opacity: 0.4;
}

.msgbox_title{
    position: relative;
    left: 20px;
    top: 15px;
    color: #4b4f56;
    align-content: center;
    font-weight: bold;
    font-size: 16px;
    font-family: helvetica, arial, sans-serif;
    
}

.msgbox_close_button{
    position: relative;
    left: 570px;
    top:-4px;
    width: 18px;
    filter: grayscale(100%);
    height: 18px;
    cursor: pointer;
    background-image: url('../img/1472404941_cross.png');
    background-position: 0px -1px; 
    background-repeat: no-repeat;
    transition: all 0.2s linear;
}

.msgbox_close_button:hover{
    filter: grayscale(0%);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~DEFAULTS~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.default_button {
    background-color:#3f4e5e;
    border-radius:3px;
    border:1px solid #54677b;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
    text-transform: uppercase;
}
.default_button:hover {
    background-color:#54677b;
}
.default_button:active {
    position:relative;
    top:1px;
}

.floatleft{
    float: left;
}


.floatright{
    float: right;
}

.clearfloat{
    clear: left;
    clear: right;
}



/*------------------------------------ Alert css*/
.alert{
    margin-top:10px;
    padding:5px;
    font-size:.85em;
    transition: color 0.2s;
    max-width:  282px;
    color: whitesmoke;
    border:1px solid  #f44336;
    border-radius: 5px;
    background-color:  #f44336;
}

.alert:hover{
    color:#f00;
    background-color: whitesmoke;
}

.alert-green{
    margin-top:10px;
    padding:5px;
    font-size:.85em;
    transition: color 0.2s;
    max-width:  282px;
    color: whitesmoke;
    border:1px solid  forestgreen;
    border-radius: 5px;
    background-color:  forestgreen;
}

.alert-green:hover{
    color:forestgreen;
    background-color: whitesmoke;
}

/*------------------------- modified drop down*/

.top_dropdown_click{
    position: relative;
    display: inline-block;
    float: right;

}

.top_dropdown_content_click{
    display: none;
    top:40px;
    left: calc(100% - 260px);
    position: absolute;
    background-color: #fff;
    min-width: 250px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.4);
    z-index: 9;
}

.top_dropdown_content_click a {
    display: block;
    background-color: #fff;
    color: #2D3E50;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    cursor: pointer;
}

.top_dropdown_click a:hover{
    background-color: #EFF3F4;
}

.show{ /*this class add when click btn*/
    display: block;
}

/*----------------------------------- Tabs in Dashbord -----*/
.request-tabs {
    width:100%;
    display:inline-block;
}

/*----- Tab Links -----*/
.tab-links{
    margin-bottom: 0px;
}

.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}

.tab-links a {
    padding:10px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background:#fff;
    font-size:16px;
    font-weight:600;
    color:#4c4c4c;
    transition:all linear 0.15s;
    text-decoration: none;
    border-top: 3px solid #81C784;
}

.tab-links a:hover {
    background:#C8E6C9;
    text-decoration:none;
    border-bottom: 3px solid #C8E6C9 ;
}

li.active a, li.active a:hover {
    color:#fff;
    background-color: #81C784;
    border-bottom: 3px solid #C8E6C9 ;
}

/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background-color: #C8E6C9;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}

/*-------------------------------------- tab css ends*/
